[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
tensorflow = "*"
cv = "*"
opencv-python = "*"
pafy = "*"

[dev-packages]

[requires]
python_version = "3.10"
